/* src/components/CoverPage.css */

.cover-page {
    background-image: url('C:\Users\Narthana\Desktop\Game\maze\public\game-bg.jpeg'); /* Update with the correct path */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(248, 248, 248);
    text-align: center;
  }
  
  .start-button {
    margin-top: 100px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #b20656; /* Customize color as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-button:hover {
    background-color: #095992; /* Darken on hover */
  }
  